<!DOCTYPE html>
<html>
<head>
  <title>Grievance 💌</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body class="page2">
  <div class="container">
    <h1>Tell me everything, okay? 🫂</h1>
    <form action="/submit" method="POST">
      <textarea name="grievance" placeholder="Write anything you feel..." required></textarea>
      <br>
      <button type="submit" class="btn">Submit</button>
    </form>
    <br><br>
    <a href="/thank-you"><button class="btn">Next ➡️</button></a>

</body>
</div>
</html>